<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vue Js Tutorials</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <!-- <script src="main.js"></script> -->
</head>

<body>
    <div id="vue-app">
        <h1>Loops in Vue Js</h1>
        <ul>
            <li v-for="character in characters">
                {{character}}
            </li>
        </ul>
        <ul>
            <li v-for="(person,index) in record">
                {{index}} . {{person.name}} - {{person.age}}

            </li>
        </ul>

        <div>
            <template v-for="(person,index) in record">
               <div> {{index}} . {{person.name}} - {{person.age}}</div>
            </template>
        </div>
        <hr/>
        <div>
            <template v-for="person in record">
                   <div v-for="(val,key) in person">
                    {{key}} - {{val}}
                   </div>
                </template>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>