.bag-container {
    width: 200px;
    height: 500px;
    margin: auto;
    background: url(./img/bag.png) center no-repeat;
    background-size: 80%;
}

.bag-health {
    width: 200px;
    margin: auto;
    border: 1px solid black;
}

.bag-health div {
    height: 20px;
    background: red;
}

.controls {
    width: 200px;
    padding: 5px;
    margin: auto;
    height: 50px;
    text-align: center;
}

.bagburst {
    width: 200px;
    height: 500px;
    margin: auto;
    background: url(./img/bag-burst.png) center no-repeat;
    background-size: 80%;
}