span {
    width: 100px;
    height: 100px;
    background: green;
    color: white;
}

.available span {
    background: red;
}

.nearby span:after {
    content: ' Near by';
    background: yellow;
}